// .hero {
//   background-color: #333;
//   padding: 20px;
//   display: flex;
//   align-items: center;
// }

// .hero-img {
//   max-width: 150px;
//   margin-right: 20px;
// }

// .hero-title {
//   font-size: 2em;
//   color: white;
//   margin-right: 80px;
//   margin-left: 50px;
// }

// .search-bar {
//   display: flex;
//   align-items: center;
//   margin-top: 10px;
// }

// .search-bar input {
//   padding: 10px;
//   font-size: 1em;
//   border: 1px solid #555;
//   background-color: #444;
//   color: white;
//   border-radius: 5px;
//   margin-right: 10px;
// }

// .search-button {
//   background-color: #2b2b2b;
//   border: none;
//   color: white;
//   padding: 10px;
//   border-radius: 5px;
//   cursor: pointer;
// }

// #search-info {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 20px;
//   background-color: #4d4d4d;
//   padding: 20px;
//   color: white;
// }

// .under-hero {
//   // background-color: #222;
//   color: white;
//   // padding: 20px;
//   // border-top: 1px solid #444;
// }

// #album-info {
//   padding-top: 15px;
// }
// #search-info1 {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 0;
// }

// .result-list table {
//   width: 100%;
// }

// .result-list th,
// .result-list td {
//   padding: 15px;
//   text-align: left;
// }

// .result-list th {
//   background-color: #2b2b2b;
//   color: white;
//   font-weight: bold;
// }

// .result-list td {
//   background-color: #333;
//   color: white;
//   border-bottom: 1px solid #444;
// }

// .song-title,
// .artist-name,
// .album-name {
//   font-size: 1em;
// }

// #search-info {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 20px;
//   background-color: #333;
// }

// #search-info h5 {
//   background-color: #333;
// }

// // .bg-album {
// //   background: #333;
// // }

// NUOVI STILI

#central {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8856792717086834) 47%, rgba(0, 0, 0, 0.644782913165266) 100%);
}

.hero {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  h3,
  h4,
  h5,
  p {
    color: white;
  }
  h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  .tracks p {
    color: rgb(255 255 255 / 0.4);
  }
  & > div {
    flex-grow: 1;
    padding: 1rem;
  }
  .tracks > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 0.5rem;
    & > div:nth-last-of-type(2) {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .tracks img {
    width: 40px;
    height: 40px;
  }
  .results img {
    width: 80px;
    height: 80px;
  }
}

.results {
  background-color: rgb(255 255 255 / 0.1);
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results,
.tracks {
  padding: 1rem;
}
